@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Poppins,sans-serif;
    background-color: #F1F2F4;
}
a {
    text-decoration: none;
}
form {
    width: 100%;
}
main {
    padding-bottom: 50px;
    background-color: #f1f3f6;
    padding: 10px 10px;
}
header {
    background-color: #2874f0;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 70px;
    position: relative;
    top: 2px;
}
.logo img {
    width: 100%;
}
.explore {
    width: 80px;
    display: flex;
    white-space: nowrap;
    display: flex;
    align-content: flex-start;
    height: 100%;
    position: relative;
    top: -2px;
}
.explore a {
    display: flex;
    color: white;
}
.explore a:hover {
    text-decoration: underline;
}
.explore p {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 550;
    color: white;
}
.explore img {
    width: 10px;
    height: 10px;
    margin: 0;
}
.plus-icon {
    color: #ffe500;

}
.search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    width: 400px;
    height: 32px;
    margin: 0px 10px;
    background-color: white;
    border-radius: 1px;
    padding: 0px 15px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.search_container i {
    color: #2874f0;
}
.search_container input {
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
}
.recent_Search {
    position: absolute;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0, 0, 0, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 100%;
    top: 32px;
    margin-left: -15px;
    border-top: 1px solid #ccc;
    display: none;
    padding: 15px;
    z-index: 12;
}
.search_container:focus-within .recent_Search {
    display: block;
}
.recent_list {
    display: flex;
    padding: 5px 0px;
}
.recent_list i {
    color: #7a7a7a;
    font-size: 14px;
}
.recent_list p {
    padding-left: 20px;
    font-size: 15px;
}

.loginBtn_container {
    background-color: white;
    padding: 6px 35px;
    font-size: 15px;
    border-radius: 1px;
    margin: 0px 10px;
    position: relative;
}
.loginBtn_container a {
    color: #2874f0;
    font-weight: 550;
    text-decoration: none;
}
.login_menu {
    position: absolute;
    top: 34px;
    height: 320px;
    width: 100%;
    width: 230px;
    background-color: transparent;
    margin-left: -40px;
    transform: translateX(-25%);
    display: none;
    padding-top: 15px;
    z-index: 12;
}
.login_menu::before {
    position: absolute;
    content: "";
    margin-left: 110px;
    top: 1px;
    border-top: 0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}
.loginBtn_container:hover .login_menu {
    display: block;
}
.login_menu_list {
    height: 100%;
    max-width: 100%;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0, 0, 0, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    font-size: 15px;
}
.login_menu_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.login_menu_top a:hover {
    text-decoration: underline;
}
.menu_nav_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.menu_nav_link a {
    padding-top: 10px;
    font-size: 14px;
    display: flex;
}
.menu_nav_link a p {
    padding-left: 10px;
    color: #474545;
    font-weight: 500;
}
.menu_nav_icon {
    width: 15px;
}
/******become a seller***/
.nav-link {
    color: white;
    padding: 0px 15px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 550;
    margin: 0 5px;
}
/***more ****/
.more_link {
    font-weight: 550;
    padding: 0px 15px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
}
.icon_more {
    font-size: 10px;
    transition: transform 0.5s;
}
.more_link:hover .icon_more {
    transform: rotate(-180deg);
}
.more_menu {
    position: absolute;
    height: 220px;
    width: 200px;
    content: "";
    background-color: transparent;
    transform: translateX(-35%);
    padding-top: 10px;
    display: none;
    z-index: 12;
}
.more_link:hover .more_menu {
    display: block;
}
.more_menu::before {
    position: absolute;
    content: "";
    margin-left: 95px;
    top: 1px;
    border-top: 0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}
.more_menu_list {
    background-color: white;
    height: 100%;
    box-shadow: -5px -0px 5px rgba(0, 0, 0, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
.more_menu_list a {
    display: flex;
    font-size: 14px;
}
.more_menu_list i {
    color: #2874f0;
}
.more_menu_list p {
    color: #474545;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: 500;
}
.card_link {
    display: flex;
    font-size: 15px;
    font-weight: 550;
    color: white;
    margin-left: 10px;
}
.card_link p {
    padding: 0px 5px;
}


.category{
    margin: 10px 1% 15px 1%;
    background-color: white;
    height: 17vh;
    width: 98%;
    border-bottom: 1px solid rgb(139, 139, 139);
}
.cat-img{
    text-align: center;
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.items-container ul {
    list-style: none;
}
.cat-img img{
    width: 63px;
    height: 63px;
}


.slides-container{
    margin: 0 auto;
    margin-top: 10px;
    width: 98%;
    height: 250px;
    box-shadow: 0px 0px 3px grey;
}
.slide {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide1 {
    background-image: url("slider/1.png");
}
.slide2 {
    background-image: url("slider/2.png");
}
.slide3 {
    background-image: url("slider/3.png");
}
.slide4 {
    background-image: url("slider/4.png");
}
.slide5 {
    background-image: url("slider/5.png");
}
.slide6 {
    background-image: url("slider/6.png");
}
.slide7 {
    background-image: url("slider/7.png");
}
.slide8 {
    background-image: url("slider/8.png");
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 27px;
    width: 0;
    height: 0;
    border-style: solid;
}
.arrow-ctn {
    border-radius: 0px 10px 10px 0 ;
    top: 39%;
    position: absolute;
    width: 60px;
    height: 100px;
    background-color: white;
    border: 1px solid grey;
    margin-left: 15px;
    left: 0;
}
#arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent #9e9e9e transparent transparent;
    left: 0;
    margin-left: 10px;
}
.arrow-ctn-2 {
    border-radius: 10px 0 0 10px;
    top: 39%;
    position: absolute;
    width: 60px;
    height: 100px;
    background-color: white;
    border: 1px solid grey;
    margin-right: 15px;
    right: 0;
}
#arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #9e9e9e;
    right: 0;
    margin-right: 10px;
}


.electronics{
    background-color: white;
    height: 350px;
    width: 98%;
    margin: 15px 1% 15px 1%;
}
.electronics .txt{
    display: flex;
    justify-content: space-between;
}
.electronics .txt i{
    text-align: center;
    background-color: #2874f0;
    width: 40px;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-right: 3%;
    border-radius: 50%;
    padding-top: 8px;
    color: white;
}
.electronics h3{
    margin: 0 0 10px 2%;
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
.elc-ctn{
    display: flex;
    width: 96%;
    height: 250px;
    margin: 0 2%;
    justify-content: space-around;
}
.elc-ctn .card{
    margin: 25px 0;
    height: 240px;
    width: 16%;
    text-align: center;
    outline: 0;
    border: 1px solid rgb(153, 153, 153);
}
.elc-ctn .card img{
    background-color: transparent;
    width: 80%;
    height: 200px;
    padding: 15px 0;
    transition: all 0.3s;
}
.elc-ctn .card img:hover {
    scale: 1.12;
}
.elc-ctn .card p{
    font-weight: 600;
}

.container{
    display: flex;
}
.container .img img{
    height: 630px;
    width: 98%;
    margin-top: 15px;
}
.gifts {
    background-color: white;
    height: 630px;
    width: 40%;
    margin: 15px 1% 15px 1%;
}

.gifts .txt {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

.gifts .txt i {
    text-align: center;
    background-color: #2874f0;
    width: 40px;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-right: 3%;
    border-radius: 50%;
    padding-top: 8px;
    color: white;
}

.gifts h3 {
    margin: 0 0 10px 2%;
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.gift-ctn{
    display: flex;
    justify-content: space-around;
}
.gift-ctn .card {
    margin: 25px 0 0 5px;
    height: 240px;
    width: 40%;
    text-align: center;
    outline: 0;
    border: 1px solid rgb(153, 153, 153);
}
.gift-ctn .card img {
    background-color: transparent;
    width: 80%;
    height: 170px;
    padding: 15px 0;
    transition: all 0.3s;
}

.gift-ctn .card img:hover {
    scale: 1.12;
}

.gift-ctn .card p {
    font-weight: 600;
}
.gift-ctn .card p span{
    color: green;
    font-weight: 400;
}

.container2{
    display: flex;
}
.container2 .gifts {
    background-color: white;
    height: 630px;
    width: 40%;
    margin: 15px 1% 15px 1%;
}
    
.desc{
    background-color: #F5F5F5;
    height: 400px;
    width: 1104px;
    margin: 1px;
    padding: 25px;
}

.content{
    display: flex;
    font-size: 14px;
    margin-top: -22%;
    margin-left: 28px;
}

.cnt{
    color: #565656;
    font-size: 12px;
    margin-left: 5px;
}

.content2 {
    display: flex;
    font-size: 14px;
    margin-left: 28px;
}

.content3{
    display: flex;
    font-size: 14px;
    margin-left: 28px;
}

.content4{
    display: flex;
    font-size: 14px;
    margin-left: 28px;
}

.downnav{
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 350px;
    background-color: #212121;
  
}
.navcontent{
    justify-content: space-evenly;
    font-size: 12px; 
    padding: 40px 36px 0px;
    color: #878787;   
}
.navcontent2{
    margin-top: 10px;
}
.navcontent2 a{
    font-size: 12px;   
    color: #FFFFFF;   
}
.vl{
    border-left: 6px;
    background-color: #2874f0;
    height : 180px;
    margin-top: 40px;
    margin-left: 10%;
}

.navcontent3{
    margin-top: 10px;
    font-size: 12px;   
    color: #FFFFFF;
}
.last{
    display: flex;
    margin-top: -5%;
    margin-left: 7% ;
}
.last p{
    font-size: 12px;
    margin-left: 6px;
    margin-top: -0.5%;
    color: #FFFFFF;
}
.last2{
    display: flex;
    margin-top: -0.5%;
    margin-left: 22%;
}

.last2 p{
    font-size: 12px;
    margin-left: 6px;
    margin-top: -12px;
    color: #FFFFFF;
}

.last3{
    display: flex;
    margin-top: -0.5%;
    margin-left: 33%;
}
.last3 p{
    font-size: 12px;
    margin-left: 6px;
    margin-top: -8px;
    color: #FFFFFF;
}

.last4{
    display: flex;
    margin-top: -0.9%;
    margin-left: 44%;
}

.last4 p{
    font-size: 12px;
    margin-left: 6px;
    margin-top: -2px;
    color: #FFFFFF;
}

.last5{
    font-size: 12px;
    margin-left: 55%;
    margin-top: -20px;
    color: #FFFFFF;


}
.img3{
    margin-top: -20px;
    margin-left: 70%;
}
.payment{
width: 377px;
height: 18px;

}